﻿@using Ineos.Business.Rendering
@using Ineos.Helpers
@using Ineos.Models.Pages.InchMagazine
@model Ineos.Models.ViewModels.InchMagazine.ArticlesModel

@{
    Layout = "~/Views/Shared/Layouts/_WithFooter.cshtml";
    var articlePage = (ArticlePage) Model.CurrentPage;
    string articleUrl = Url.ContentUrl(MagazineHelper.ArticlePageLink());
}

<header class="main-header mh-articles">
    <div class="left">
        <a href="@articleUrl" class="article-nav back-to">
            <i class="icon-back">
                
            </i>
            <span class="article-nav-link"> Back to articles </span>
        </a>
    </div>
    <div class="articles-nav-directions right">
        <a href="@Url.ContentUrl(Model.PreviousPage.Key)" class="article-nav article-prev">
            <i class="icon-arrow-prev"></i>
            <span class="article-nav-link">Previous article: 
                <span class="an-title an-prev-title">
                    @Model.PreviousPage.Value.Truncate(20)
                </span>
            </span>
        </a>
        <a href="@Url.ContentUrl(Model.NextPage.Key)" class="article-nav article-next">
            <span class="article-nav-link">
                Next article:
                <span class="an-title an-next-title">
                    @Model.NextPage.Value.Truncate(20)
                </span>
            </span>
            <i class="icon-arrow-next"></i>
        </a>
    </div>
</header>

<section class="main article-single">
    <div class="as-container">
        <div class="as-item">

            @if (articlePage.ShowHeading)
            {
                <section style="background-image: url(@Url.ContentUrl(articlePage.PageImage))" class="article-hero parallax">
                    <div class="ah-text">
                        <div class="ah-ma-title">

                            @if (articlePage.IsFeatured && !string.IsNullOrWhiteSpace(articlePage.FeaturedText))
                            {
                                <span class="ribbon left-ribbon ah-ribbon"> @Html.Translate("/Articles/Featured")</span>
                            }

                            <h1 class="as-title">@Html.PropertyFor(x => articlePage.HeaderText)</h1>
                            <h5 class="as-subtitle">@Html.PropertyFor(x => articlePage.HeaderDescription)</h5>
                        </div><span class="as-read-time">@Html.PropertyFor(x => articlePage.ReadingTime)<br><span class="time">min</span></span>
                    </div>
                </section>
            }
            
            @Html.PropertyFor(x => articlePage.ArticleContentContentArea, new { Tag = TemplateCoordinator.Tags.NoWrappersContentArea })

        </div>
    </div>
    
    <div class="as-slider-cards">
        <h5>More from INCH Magazine</h5>
        <div class="as-slider-nav">

            @if (Model.MoreFromInchArticles != null && Model.MoreFromInchArticles.Count > 0)
            {
                foreach (var m in Model.MoreFromInchArticles)
                {
                    <div class="as-slider-card">
                        <div class="as-image-holder"><img src="@Url.ContentUrl(m.HeaderImage)" alt=""></div>
                        <div class="as-caption">
                            <h1 class="as-title"><a href="@Url.ContentUrl(m.PageReference)">@Html.PropertyFor(x => m.HeaderText)</a></h1>
                            <p>@m.ArticleContentText</p>
                        </div>
                        <div class="as-read-and-tags"><span class="reading-time"><i class="icon-ribbon-small"></i>@Html.PropertyFor(x => m.ReadTime) min read</span></div>
                    </div>
                }
            }
        </div>
    </div>

    <div id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

</section>