﻿@using Ineos.Models.ViewModels.InchMagazine
@model IssuesModel

@{
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}

    <section class="main issues">
        <div class="loader-overlay"></div>
        <div class="loader"></div>
        <div class="scrollbar">
            <div class="scrollbar-handle">
                <div class="mousearea"></div>
            </div>
        </div>
        <div class="issues-grid frame">
            <ul class="issues-tiles">
                
                @if (Model != null && (Model.Issues != null && Model.Issues.Count > 0))
                {
                    for (int i = 0; i < Model.Issues.Count; i++)
                    {
                        IssueModel issue = Model.Issues[i];
                        string issueDocument = issue.IssueDocument == null ? "" : Url.ContentUrl(issue.IssueDocument);

                        <li class="issue">
                            <a href="@Url.ContentUrl(issue.IssueUrl)">
                                <div class="issue-grid-image-holder">
                                    <img src="@Url.ContentUrl(issue.IssueImage)" alt="" class="issue-picture">
                                </div>
                                
                                <div class="issue-text">
                                    
                                    @if (issue.TopTitles != null && issue.TopTitles.Count > 0)
                                    {
                                        <ul class="issue-headlines">
                                            <li>@Html.Translate("/Articles/InThisIssue"):</li>
                                            
                                            @foreach (string article in issue.TopTitles)
                                            {
                                                <li>@article</li>
                                            }
                                        </ul>
                                    }                                    

                                    <div class="issue-footer"><span class="issue-number">#@issue.IssueNumber</span>
                                        <a href="@issueDocument" class="download-issue">
                                            <i class="icon-download"></i>
                                        </a>
                                    </div>
                                </div>                                

                                <div class="issue-inch-logo"><img src="~/Static/images/issue-inch-logo.png" alt=""></div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </section>