﻿@using Ineos
@using Ineos.Helpers
@model Ineos.Models.ViewModels.InchMagazine.ArticlesModel

@{
    Layout = "~/Views/Shared/Layouts/_WithFooter.cshtml";
    var articles = Model.Articles;
    string issueUrl = Url.ContentUrl(MagazineHelper.IssuePageLink());
    string articleUrl = Url.ContentUrl(MagazineHelper.ArticlePageLink());
}

<header class="main-header">

    <div class="left">
        <h1 class="magazine-title">
            Inch <span>Magazine</span>
        </h1>
        <span class="switch-view-controls">
            <a class="js-articles-view active">
                <i class="icon-tiles"></i>
            </a>
            <a class="js-articles-view">
                <i class="icon-list"></i>
            </a>
        </span>
        <span class="switch-browse-by">
            <span class="sbb-title">@Html.Translate("/Articles/BrowseBy")</span>
            <span class="bb-switch">
                <a href="@issueUrl" class="js-browse-by">@Html.Translate("/Articles/Issue")</a>
                <a href="@articleUrl" class="js-browse-by active">@Html.Translate("/Articles/Article")</a>
            </span>
        </span>
    </div>

    <div class="logo right"><img src="~/static/images/ineos-logo-hp.png" alt=""></div>
</header>

<section class="main articles-main hp-article-view">
    <div class="loader-overlay"></div>
    <div class="loader"></div>
    <div class="secondary-articles">
        <ul class="grid">
            
            @if (articles != null && articles.Count > 0)
            {
                foreach (var articleModel in articles)
                {
                    if (articleModel != null)
                    {
                        <li data-groups="@articleModel.Category" class="@MagazineHelper.GenerateArticleTileCssClass(articleModel)">
                            <div class="card-inner">
                                <div class="sa-image-holder"><img src="@Url.ContentUrl(articleModel.HeaderImage)" alt=""><a href="" class="sa-image-link"></a></div>
                                <div class="sa-caption">
                                    @if (articleModel.IsFeatured)
                                    {
                                        <span class="ribbon right-ribbon">@Html.Translate("/Articles/Featured")</span>
                                    }

                                    <h1 class="sa-title"><a href="@Url.ContentUrl(articleModel.PageReference)">@articleModel.Title</a></h1>
                                    <p>@articleModel.ArticleContentText</p>
                                </div>
                                <div class="sa-read-and-tags">
                                    <span class="reading-time"><i class="icon-ribbon-small"></i>@articleModel.ReadTime @Html.Translate("/Articles/MinuteRead")</span>
                                    <span class="tags">
                                        <i class="icon-tags"></i>@Html.Translate("/Articles/Tag")<i class="icon-arrow-down"></i>
                                        <ul class="tags-list">
                                            @{
                                                if (articleModel.Tags != null)
                                                {
                                                    for (int i = 0; i < articleModel.Tags.Count(); i++)
                                                    {
                                                        var tag = articleModel.Tags[i];
                                                        <li data-group="categ1" class="tag categ tag-@(i + 1)">@tag</li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </li>

                        if (articleModel.Videos != null && articleModel.Videos.Count > 0)
                        {
                            foreach (var videoModel in articleModel.Videos)
                            {
                                <li data-groups="@articleModel.Category" class="card card-medium card-video">
                                     
                                    <div class="card-inner">
                                        <div class="sa-image-holder">
                                            <div class="sa-video-holder"></div>
                                                <img src="@Url.ContentUrl(videoModel.VideoImageUrl)" alt="" class="video-placeholder">
                                                <a href="@videoModel.VideoUrl" data-width="640" data-height="360" class="play-button js-play">
                                                    <i class="icon-play"></i>
                                                </a>
                                        </div>
                                        <div class="sa-caption">
                                            <p>Video</p>
                                            <h1 class="sa-title">@videoModel.VideoDescription</h1>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    }
                }
            }

            <li data-groups="[&quot;@Global.Constants.ArticleCategoryAll&quot;]" class="card card-big other-headlines">
                <div class="card-inner">
                    <div class="sa-caption">

                        <h1 class="sa-title">@Html.Translate("/Articles/InTheHeadlines")</h1>
                        
                        @if (Model.InTheHeadline != null)
                        {
                            foreach (var relatedArticle in Model.InTheHeadline)
                             {
                                 <div class="oh-titles">
                                     <h4>@relatedArticle.HeaderText</h4>
                                     <a href="@Url.ContentUrl(relatedArticle.PageReference)" class="more button">
                                         View
                                         <i class="icon-angle-right"></i>
                                     </a>
                                 </div>
                             }
                        }
                        
                    </div>
                </div>
            </li>
            <li class="shuffle-sizer"></li>
        </ul>

        <div id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>

</section>

