﻿/* Styles used by the TinyMCE editor */

h1 {EditMenuName:Header 1;}
h2 {EditMenuName:Header 2;}
h3 {EditMenuName:Header 3;}
h4 {EditMenuName:Header 4;}
h5 {EditMenuName:Header 5;}

p {EditMenuName:Paragraph;}
b {EditMenuName:Bold;}
q {EditMenuName:Quote;}