@charset "UTF-8";
/* ===============================================
	* Project Name: Title
	* File Name: CSS Document
	* Author: Author name, Company
	* Version: 1.0
	* Last Change: 22.04.2014
=============================================== */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type="button"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.button,
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: DinBold;
  line-height: 1;
  border: 1px solid rgba(115, 115, 115, 0.2);
  padding: 0.45em 1em;
  text-decoration: none;
  text-transform: uppercase; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover {
    color: #f7a922; }
  .button:disabled,
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.row:after, .main-header:after, .articles-nav:after, .social:after, .langs:after, .main:after, .issue-footer:after, .notify:after, .secondary-articles:after, .grid:after, .articles-list-view .card:after,
.articles-list-view .card.card-small:after,
.articles-list-view .card.card-half:after, .ah-text:after, .as-text:after, .upper-footer:after,
.lower-footer:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: DinLight;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro-Light.eot");
  src: url("../fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.ttf") format("truetype"), url("../fonts/DINPro-Light.svg#DinLight") format("svg"); }
@font-face {
  font-family: DinLightItalic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro-LightItalic.eot");
  src: url("../fonts/DINPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-LightItalic.woff") format("woff"), url("../fonts/DINPro-LightItalic.ttf") format("truetype"), url("../fonts/DINPro-LightItalic.svg#DinLightItalic") format("svg"); }
@font-face {
  font-family: DinRegular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro.eot");
  src: url("../fonts/DINPro.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype"), url("../fonts/DINPro.svg#DinRegular") format("svg"); }
@font-face {
  font-family: DinMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DinMedium") format("svg"); }
@font-face {
  font-family: DinBold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro-Bold.eot");
  src: url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.svg#DinBold") format("svg"); }
@font-face {
  font-family: DinBlack;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro-Black.eot");
  src: url("../fonts/DINPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Black.woff") format("woff"), url("../fonts/DINPro-Black.ttf") format("truetype"), url("../fonts/DINPro-Black.svg#DinBlack") format("svg"); }
@font-face {
  font-family: FuturaLight;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaStd-Light.eot");
  src: url("../fonts/FuturaStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Light.woff") format("woff"), url("../fonts/FuturaStd-Light.ttf") format("truetype"), url("../fonts/FuturaStd-Light.svg#FuturaLight") format("svg"); }
@font-face {
  font-family: FuturaMedium;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaStd-Medium.eot");
  src: url("../fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Medium.woff") format("woff"), url("../fonts/FuturaStd-Medium.ttf") format("truetype"), url("../fonts/FuturaStd-Medium.svg#FuturaMedium") format("svg"); }
@font-face {
  font-family: FuturaBold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaStd-Bold.eot");
  src: url("../fonts/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Bold.woff") format("woff"), url("../fonts/FuturaStd-Bold.ttf") format("truetype"), url("../fonts/FuturaStd-Bold.svg#FuturaBold") format("svg"); }
@font-face {
  font-family: FuturaHeavy;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaStd-Heavy.eot");
  src: url("../fonts/FuturaStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Heavy.woff") format("woff"), url("../fonts/FuturaStd-Heavy.ttf") format("truetype"), url("../fonts/FuturaStd-Heavy.svg#FuturaHeavy") format("svg"); }
@font-face {
  font-family: FuturaHeavyOblique;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaStd-HeavyOblique.eot");
  src: url("../fonts/FuturaStd-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-HeavyOblique.woff") format("woff"), url("../fonts/FuturaStd-HeavyOblique.ttf") format("truetype"), url("../fonts/FuturaStd-HeavyOblique.svg#FuturaHeavyOblique") format("svg"); }
@font-face {
  font-family: FuturaBook;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaStd-Book.eot");
  src: url("../fonts/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Book.woff") format("woff"), url("../fonts/FuturaStd-Book.ttf") format("truetype"), url("../fonts/FuturaStd-Book.svg#FuturaBook") format("svg"); }
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #737373;
  font-family: DinRegular;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DinRegular;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.375em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #737373;
  text-decoration: none; }
  a:hover {
    color: #f7a922;
    cursor: pointer;
    cursor: hand; }
  a:active, a:focus, a.active {
    color: #f7a922;
    outline: none; }
  a.highlighted {
    color: #f7a922; }

hr {
  border-bottom: 1px solid #f1f1f1;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #f7a922;
  font-family: DinLightItalic;
  font-size: 36px;
  line-height: 1.3;
  color: #f7a922;
  margin: 1.5em 0;
  padding-left: 0.75em; }
  blockquote .bq-header {
    display: block;
    font-family: DinBold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  blockquote .bq-footer {
    font-family: FuturaMedium;
    font-size: 16px;
    font-style: normal;
    color: #737373; }

cite {
  color: #b3b3b3;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: white;
  border: 1px solid #f1f1f1;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: DinRegular;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  -o-transition: border-color;
  transition: border-color;
  background-color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: DinRegular;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #d7d7d7; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #737373;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 102, 102, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(102, 102, 102, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #cbcbcb;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #f1f1f1;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.button,
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .no-rgba .button, .no-rgba
  button, .no-rgba
  input[type="submit"] {
    border: 1px solid #D5D5D5; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.sprite {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  overflow: hidden; }

.center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

[class^="col-"] {
  float: left; }

.row {
  width: 100%; }

.col-75 {
  width: 75%; }

.col-50 {
  width: 50%; }

.col-33 {
  width: 33.3%; }

.col-25 {
  width: 25%; }

.browsehappy {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 1000; }
  .browsehappy p {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 900px;
    margin-left: -450px;
    font-size: 30px;
    font-weight: 300;
    color: #fff; }

.home {
  display: inline-block;
  height: 70px;
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 26px;
  padding-top: 19px;
  padding-left: 26px; }
  @media screen and (min-width: 40em) {
    .home {
      height: 90px;
      padding-top: 24px; } }
  @media screen and (min-width: 53.75em) {
    .home {
      padding-left: 22px;
      padding-top: 27px; } }

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 60px;
  z-index: 999;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.95); }
  .no-rgba .main-header {
    border-bottom: 1px solid white;
    background-image: url("../images/ie-hp-header-bg.png"); }
  @media screen and (min-width: 40em) {
    .main-header {
      height: 90px; } }
  @media screen and (min-width: 53.75em) {
    .main-header {
      left: 75px;
      padding-left: 0; } }
  .main-header .left {
    padding: 22px 17px; }
    @media screen and (min-width: 40em) {
      .main-header .left {
        padding: 22px; } }
    @media screen and (min-width: 53.75em) {
      .main-header .left {
        padding-top: 25px; } }
  .main-header.mh-articles {
    height: 70px;
    right: 10px;
    left: 10px;
    border-top: 10px solid white; }
    @media screen and (min-width: 40em) {
      .main-header.mh-articles {
        height: 90px; } }
    @media screen and (min-width: 53.75em) {
      .main-header.mh-articles {
        height: 100px;
        left: 75px;
        background-color: transparent;
        background-image: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
        background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.4)));
        background-image: -moz-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
        background-image: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
        background-image: linear-gradient(to top,transparent, rgba(0, 0, 0, 0.4)); }
        .main-header.mh-articles:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.4);
          position: absolute;
          bottom: 10px; } }
    .no-cssgradients .main-header.mh-articles {
      background-image: url("../images/ie-mh-header-bg.png");
      background-repeat: repeat-x; }
    .main-header.mh-articles .left {
      padding: 19px 22px 19px 0; }
      @media screen and (min-width: 40em) {
        .main-header.mh-articles .left {
          padding: 24px 0; } }
      @media screen and (min-width: 53.75em) {
        .main-header.mh-articles .left {
          padding: 20px 12px; } }
      @media screen and (min-width: 53.75em) {
        .main-header.mh-articles .left .home {
          margin-left: -75px; } }
      .main-header.mh-articles .left .switch-view-controls {
        top: -3px; }
        .main-header.mh-articles .left .switch-view-controls a {
          display: inline-block;
          color: white; }
          .main-header.mh-articles .left .switch-view-controls a:hover, .main-header.mh-articles .left .switch-view-controls a.active {
            color: #f7a922; }
          .main-header.mh-articles .left .switch-view-controls a.download-issue {
            margin: 0 25px;
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            padding: 7px 15px; }
    .main-header.mh-articles .filter {
      margin-left: 20px;
      display: inline-block;
      *display: inline;
      zoom: 1;
      position: relative;
      top: -4px; }
      @media screen and (min-width: 53.75em) {
        .main-header.mh-articles .filter {
          margin-left: -20px; } }
    .main-header.mh-articles .logo {
      width: 180px;
      padding: 15px 24px; }
  .main-header .logo {
    display: none; }
    @media screen and (min-width: 40em) {
      .main-header .logo {
        display: inline-block;
        padding: 26px 30px; } }
  .main-header.headroom {
    -webkit-transition: -webkit-transform 200ms linear;
    -moz-transition: -moz-transform 200ms linear;
    -o-transition: -o-transform 200ms linear;
    transition: transform 200ms linear; }
  .main-header.headroom--pinned {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  .main-header.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

.no-rgba .switch-view-controls .download-issue {
  border-left: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5; }

.magazine-title,
.switch-view-controls,
.switch-browse-by,
.bb-switch {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.magazine-title {
  font-family: FuturaBold;
  font-size: 25px;
  text-transform: uppercase; }
  @media screen and (min-width: 40em) {
    .magazine-title {
      font-size: 36px;
      margin-right: 10px; } }
  .magazine-title span {
    font-family: FuturaLight; }

.switch-view-controls {
  display: none; }
  @media screen and (min-width: 53.75em) {
    .switch-view-controls {
      display: inline-block;
      margin: 0 16px;
      border-right: 1px solid rgba(115, 115, 115, 0.2);
      padding: 0 15px 0 0;
      position: relative;
      top: -5px; }
      .switch-view-controls a {
        display: inline-block;
        padding: 0 6px; } }
  .switch-view-controls.borderless {
    border-right: none; }

.switch-browse-by {
  display: none; }
  @media screen and (min-width: 53.75em) {
    .switch-browse-by {
      display: inline-block;
      font-family: DinMedium;
      position: relative;
      top: -5px; }
      .switch-browse-by .sbb-title {
        font-size: 14px;
        text-transform: uppercase;
        color: #8F8F8F; }
      .switch-browse-by .bb-switch {
        font-size: 14px;
        margin-left: 15px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 2px; }
        .switch-browse-by .bb-switch a {
          padding: 0 10px;
          display: inline-block;
          color: white;
          text-transform: uppercase; }
          .switch-browse-by .bb-switch a.active {
            -webkit-border-radius: 25px;
            border-radius: 25px; }
          .switch-browse-by .bb-switch a:not(.active):hover {
            color: #f7a922; } }

.borderradius .bb-switch {
  background-color: #737373; }
  .borderradius .bb-switch a.active {
    background-color: #f7a922; }

.no-borderradius .bb-switch {
  width: 180px;
  height: 30px;
  background-image: url("../images/ie-switch-bg.png");
  background-repeat: no-repeat; }
  .no-borderradius .bb-switch a.active {
    width: 65px;
    height: 30px;
    text-align: center;
    background-color: none;
    background-image: url("../images/ie-switch-btn-bg.png");
    background-repeat: no-repeat;
    position: relative;
    top: -1px; }

.article-nav {
  font-family: DinBlack;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  position: relative; }

.back-to {
  display: inline-block;
  position: relative;
  top: -5px; }
  @media screen and (min-width: 40em) {
    .back-to {
      margin-left: 16px; } }
  .back-to:hover .icon-back {
    color: #f7a922; }

.icon-back {
  margin-right: 10px;
  position: relative;
  top: 3px;
  color: #f7a922; }
  @media screen and (min-width: 53.75em) {
    .icon-back {
      top: 8px;
      color: white; } }

.articles-nav {
  padding: 33px;
  min-height: 0; }

.articles-nav-directions {
  padding: 10px 0; }
  @media screen and (min-width: 40em) {
    .articles-nav-directions {
      padding: 19px 0; } }
  .articles-nav-directions .article-nav {
    padding: 0 14px;
    display: inline-block;
    color: #f7a922; }
    @media screen and (min-width: 53.75em) {
      .articles-nav-directions .article-nav {
        color: white; } }
    .articles-nav-directions .article-nav:hover {
      color: #f7a922;
      cursor: pointer;
      cursor: hand; }
    @media screen and (min-width: 40em) {
      .articles-nav-directions .article-nav {
        padding: 0 33px; } }
    .articles-nav-directions .article-nav.article-next {
      padding-right: 10px; }
  .articles-nav-directions i {
    font-size: 38px;
    padding: 0 10px; }
  .articles-nav-directions .an-title {
    font-family: DinMedium;
    text-transform: capitalize; }

.article-nav-link {
  display: none; }
  @media screen and (min-width: 53.75em) {
    .article-nav-link {
      display: inline-block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
      line-height: 40px; } }
  @media screen and (min-width: 1420px) {
    .article-nav-link {
      width: auto; } }

.sidebar {
  display: none; }
  @media screen and (min-width: 53.75em) {
    .sidebar {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 50;
      width: 75px;
      background-color: #fff; } }

.inch-logo {
  margin-top: 90px; }

.bottom-actions {
  text-align: center;
  position: absolute;
  bottom: 27px;
  left: 0px;
  width: 75px;
  background-color: #fff;
  z-index: 4; }
  .bottom-actions a {
    display: block;
    font-size: 30px;
    color: #D5D5D5;
    position: relative; }
    .bottom-actions a:hover, .bottom-actions a.active {
      color: #737373; }

.icon-bookmark {
  margin-bottom: 20px; }

.social {
  position: fixed;
  bottom: 119px;
  left: -135px;
  z-index: 3;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .social li {
    float: left;
    padding: 8px 15px 6px;
    font-size: 20px; }
    .social li:hover a {
      color: white; }
    .social li.share-facebook:hover {
      background-color: #3b5998; }
    .social li.share-twitter:hover {
      background-color: #00aced; }
    .social li.share-pinterest:hover {
      background-color: #cb2027; }
  .social.visible {
    left: 75px; }

.selected-lang {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-family: DinBold;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #f7a922; }

.langs {
  position: fixed;
  bottom: 28px;
  left: -100%;
  z-index: 3;
  background-color: #fff;
  -webkit-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden; }
  .langs li {
    float: left;
    padding: 10px 5px; }
    .langs li a {
      padding: 0 10px;
      position: relative;
      top: -2px; }
  .langs.extended {
    left: 75px; }

.top-border,
.bottom-border {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 10px;
  background-color: #fff; }

.top-border {
  top: 0; }

.bottom-border {
  bottom: 0; }

.main {
  margin: 10px; }
  @media screen and (min-width: 53.75em) {
    .main {
      margin-left: 75px; } }

.issues {
  position: relative; }

.issues-grid.list-view {
  overflow: auto !important; }

.issues-tiles {
  height: 100%;
  white-space: nowrap; }
  .list-view .issues-tiles {
    width: 100%; }

.issue {
  width: 280px;
  height: 100%;
  -webkit-transition: margin-right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: margin-right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: margin-right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: margin-right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  z-index: 3;
  color: white;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: -5px;
  vertical-align: top;
  overflow: hidden; }
  @media screen and (min-width: 40em) {
    .issue {
      width: 480px; } }
  @media screen and (min-width: 1025px) {
    .issue {
      width: 540px;
      margin-right: -260px; }
      .issue:hover {
        margin-right: -5px; } }
  @media screen and (min-width: 1640px) {
    .issue {
      width: 610px; } }
  @media screen and (min-width: 2040px) {
    .issue {
      width: 700px; } }
  @media screen and (min-width: 2450px) {
    .issue {
      width: 800px; } }
  .list-view .issue {
    height: 280px;
    height: 280px;
    width: 100%;
    margin-right: 0;
    display: block;
    -webkit-transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .list-view .issue:hover {
      width: 100%;
      height: 540px; }

.issue-grid-image-holder {
  height: 100%;
  -webkit-transition: all 5s ease-in-out 0.3s;
  -moz-transition: all 5s ease-in-out 0.3s;
  -o-transition: all 5s ease-in-out 0.3s;
  transition: all 5s ease-in-out 0.3s; }
  .issue-grid-image-holder .issue-picture {
    max-width: none;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .no-csstransforms .issue-grid-image-holder .issue-picture {
    top: 0;
    left: 0; }

.issue-text {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  padding-top: 140px; }
  .no-cssgradients .issue-text {
    background-image: url("../images/ie-issue-text-bg.png");
    background-repeat: repeat-x;
    padding-top: 95px; }

.issue-headlines {
  font-family: DinMedium;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  white-space: normal;
  padding: 20px 80px 20px 20px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom; }
  @media screen and (min-width: 53.75em) {
    .issue-headlines {
      width: 65%; } }
  .issue-headlines li:first-child {
    font-size: 12px; }

@media screen and (min-width: 1025px) {
  .issue:hover .issue-headlines {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }

.issue-footer {
  color: #f7a922;
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .issue-footer .issue-number {
    display: inline-block;
    font-family: DinBold;
    font-size: 28px;
    line-height: 1;
    float: left; }
  .issue-footer .download-issue {
    display: none; }
    @media screen and (min-width: 53.75em) {
      .issue-footer .download-issue {
        display: inline-block;
        font-size: 24px;
        opacity: 0;
        float: right;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out; }
        .issue-footer .download-issue:hover {
          color: white; } }

.issue-inch-logo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 80px; }
  @media screen and (min-width: 40em) {
    .issue-inch-logo {
      width: 140px; } }
  @media screen and (min-width: 1024px) {
    .issue-inch-logo {
      width: 180px; } }
  .list-view .issue-inch-logo {
    width: 60px; }

.no-opacity .issue-footer .download-issue {
  display: none; }
.no-opacity .issue:hover .issue-footer .download-issue {
  display: block; }

.issue:hover .issue-grid-image-holder {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }
.issue:hover .download-issue {
  opacity: 1; }

.scrollbar {
  height: 2px;
  background-color: #737373;
  position: absolute;
  right: 10px;
  bottom: -6px;
  left: 10px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
  opacity: 0; }
  .scrollbar .scrollbar-handle {
    width: 100px;
    height: 6px;
    margin-top: -2px;
    background-color: #f7a922; }
    .scrollbar .scrollbar-handle .mousearea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6px; }
      .scrollbar .scrollbar-handle .mousearea:hover {
        cursor: pointer;
        cursor: hand; }
  .vertical-view .scrollbar {
    display: block; }
  .issues:hover .scrollbar {
    opacity: 1; }

.touch .issues-grid {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }
.touch .scrollbar {
  display: none; }

.hp-article-view {
  margin-top: 90px; }

.loader-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 19;
  background-color: white;
  display: none; }
  @media screen and (min-width: 40em) {
    .loader-overlay {
      display: block;
      -webkit-transition: bottom 0.6s ease-out;
      -moz-transition: bottom 0.6s ease-out;
      -o-transition: bottom 0.6s ease-out;
      transition: bottom 0.6s ease-out; }
      .loader-overlay.removed {
        bottom: 100%; } }

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 90;
  display: none; }
  @media screen and (min-width: 40em) {
    .loader {
      display: block; } }
  @media screen and (min-width: 53.75em) {
    .loader {
      top: 90px;
      left: 75px; } }

.loader,
.loader:before,
.loader:after {
  background: #f7a922;
  -webkit-animation: load 1s infinite ease-in-out;
  -moz-animation: load 1s infinite ease-in-out;
  -o-animation: load 1s infinite ease-in-out;
  animation: load 1s infinite ease-in-out;
  height: 4em;
  width: 1em; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em; }

.loader {
  text-indent: -9999em;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  -o-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  -o-animation-delay: -0.32s;
  animation-delay: -0.32s; }

@-webkit-keyframes load {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0 #f7a922;
    box-shadow: 0 0 #f7a922;
    height: 4em; }
  40% {
    -webkit-box-shadow: 0 -2em #f7a922;
    box-shadow: 0 -2em #f7a922;
    height: 5em; } }
@-moz-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #f7a922;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #f7a922;
    height: 5em; } }
@-o-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #f7a922;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #f7a922;
    height: 5em; } }
@keyframes load {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0 #f7a922;
    box-shadow: 0 0 #f7a922;
    height: 4em; }
  40% {
    -webkit-box-shadow: 0 -2em #f7a922;
    box-shadow: 0 -2em #f7a922;
    height: 5em; } }
.notify {
  position: fixed;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 49;
  padding: 20px;
  background-color: #f7a922;
  color: white; }
  @media screen and (min-width: 53.75em) {
    .notify {
      left: 75px; } }
  .notify p {
    float: left;
    margin-bottom: 0; }

.notify-close {
  float: right; }

.notify-button {
  display: inline-block;
  padding: 2px 10px;
  background-color: #fff;
  color: #f7a922;
  border: 1px solid; }
  .notify-button:hover {
    background-color: #f7a922;
    color: white; }

.articles-main {
  background-color: #f1f1f1;
  margin-bottom: 0; }

.main-issue {
  background: #e3e3e3 top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 1025px) {
    .main-issue {
      background-attachment: fixed; } }
  .no-backgroundsize .main-issue {
    background-position: right top; }

.main-issue-captions {
  font-family: DinMedium;
  padding: 90px 10px 0; }
  @media screen and (min-width: 40em) {
    .main-issue-captions {
      padding-top: 110px;
      color: white;
      width: 50%;
      padding-left: 30px; } }

.main-issue-title {
  font-size: 1.7em;
  line-height: 0.8;
  color: #f7a922;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media screen and (min-width: 53.75em) {
    .main-issue-title {
      font-size: 60px; } }

.main-issue-subtitle {
  font-family: DinLight;
  font-size: 20px;
  line-height: 1;
  color: #737373; }
  @media screen and (min-width: 769px) {
    .main-issue-subtitle {
      font-size: 24px; } }

.other-articles-container {
  padding: 0 10px;
  position: absolute;
  bottom: 35px; }
  .other-articles-container .also {
    display: block;
    font-family: DinMedium;
    font-size: 21px;
    color: #737373;
    text-transform: uppercase;
    padding: 0 10px;
    position: absolute;
    top: -50px;
    left: 20px; }
  @media screen and (min-width: 40em) {
    .other-articles-container {
      display: block;
      width: 40%;
      padding-left: 30px; }
      .other-articles-container:before {
        padding-left: 30px; } }
  .other-articles-container li {
    margin-bottom: 20px; }
    .other-articles-container li:last-child {
      display: none; }
      @media screen and (min-width: 40em) {
        .other-articles-container li:last-child {
          display: block;
          margin-bottom: 0; } }

.oa-title {
  font-family: DinMedium;
  font-size: 18px;
  color: #f7a922;
  text-transform: uppercase; }
  @media screen and (min-width: 769px) {
    .oa-title {
      font-size: 21px; } }

.oa-subtitle {
  font-family: DinLight;
  font-size: 16px;
  line-height: 1;
  color: #737373; }
  @media screen and (min-width: 769px) {
    .oa-subtitle {
      font-size: 18px; } }

.articles-scroll {
  display: none;
  visibility: hidden; }
  @media screen and (min-width: 40em) {
    .articles-scroll {
      display: block;
      visibility: visible;
      font-size: 50px;
      color: white;
      text-align: center;
      position: absolute;
      bottom: 36px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      .articles-scroll > p {
        display: block;
        text-transform: uppercase;
        font-family: DinMedium;
        font-size: 12px;
        margin: 10px 0 0; } }

.issue-date {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: FuturaMedium;
  color: white;
  text-transform: uppercase; }
  @media screen and (min-width: 40em) {
    .issue-date {
      font-size: 16px;
      right: 36px;
      bottom: 30px; } }

.secondary-articles {
  padding: 10px 0;
  width: 96%;
  margin-left: auto;
  margin-right: auto; }
  .secondary-articles .sa-title {
    font-size: 22px; }
    @media screen and (min-width: 1280px) {
      .secondary-articles .sa-title {
        font-size: 28px; } }
    @media screen and (min-width: 1715px) {
      .secondary-articles .sa-title {
        font-size: 30px; } }
  @media screen and (min-width: 40em) {
    .secondary-articles {
      padding: 20px 0; } }

.grid {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.card {
  margin-bottom: 10px;
  height: 430px;
  width: 100%;
  display: block;
  overflow: hidden; }
  @media screen and (min-width: 53.75em) {
    .card {
      height: 500px;
      width: 49%; }
      .card.card-half {
        width: 24%; }
        .card.card-half .sa-image-holder {
          height: 250px;
          width: 100%; }
          .card.card-half .sa-image-holder img {
            height: 100%;
            max-width: none; }
        .card.card-half .sa-caption {
          height: 180px; }
      .card.card-medium {
        height: 330px; }
      .card.card-small {
        height: 160px; }
        .card.card-small .sa-image-holder {
          height: 160px;
          width: 160px;
          float: left; }
          .card.card-small .sa-image-holder img {
            max-width: none; }
        .card.card-small .sa-caption {
          height: 110px; }
        .card.card-small .sa-read-and-tags {
          padding: 10px 10px 10px 184px; }
      .card.card-video .sa-image-holder {
        height: 100%; }
        .card.card-video .sa-image-holder img {
          height: 100%; } }
  @media screen and (min-width: 1715px) {
    .card {
      width: 24%; } }
  .card .sa-image-holder {
    height: 155px;
    overflow: hidden;
    position: relative; }
    .card .sa-image-holder .sa-image-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .card .sa-image-holder img {
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
      -webkit-transition-duration: 4s;
      -moz-transition-duration: 4s;
      -o-transition-duration: 4s;
      transition-duration: 4s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      max-width: none; }
    @media screen and (min-width: 40em) {
      .card .sa-image-holder {
        height: 220px; } }
    @media screen and (min-width: 53.75em) {
      .card .sa-image-holder {
        height: 250px; } }
  .card .card-inner {
    position: relative;
    display: block;
    height: 100%;
    opacity: 0;
    background-color: #fff;
    -webkit-transform: translate(0, 220px);
    -moz-transform: translate(0, 220px);
    -ms-transform: translate(0, 220px);
    -o-transform: translate(0, 220px);
    transform: translate(0, 220px); }
  .card .card-inner-transition {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .card.in .card-inner {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .card:hover .sa-image-holder img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  .card:hover .sa-title a {
    color: #de9008; }

.ie8 .card-half.card .sa-caption {
  height: 190px; }

.ie8 .card-small.card .sa-caption {
  height: 120px; }
.ie8 .card-small.card .sa-read-and-tags {
  padding: 0 24px; }
.ie8 .card-small.card .reading-time {
  margin-left: 14px; }

.sa-video-holder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.play-button {
  height: 70px;
  width: 70px;
  background-color: #f7a922;
  background-image: -webkit-linear-gradient(#f7a922, #f69f09);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7a922), to(#f69f09));
  background-image: -moz-linear-gradient(#f7a922, #f69f09);
  background-image: -o-linear-gradient(#f7a922, #f69f09);
  background-image: linear-gradient(#f7a922, #f69f09);
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: white;
  font-size: 44px;
  line-height: 70px;
  text-align: center; }
  .play-button:hover {
    color: #f1f1f1; }

.card-intro .sa-image-holder {
  display: none; }
  @media screen and (min-width: 1240px) {
    .card-intro .sa-image-holder {
      display: inline-block;
      width: 40%;
      height: 330px;
      position: absolute;
      right: 0;
      bottom: 0; }
      .card-intro .sa-image-holder img {
        display: block; } }
  @media screen and (min-width: 1715px) {
    .card-intro .sa-image-holder {
      display: none; } }
.card-intro .sa-caption {
  height: 360px; }
  @media screen and (min-width: 53.75em) {
    .card-intro .sa-caption {
      height: 250px; } }
  @media screen and (min-width: 1240px) {
    .card-intro .sa-caption {
      width: 60%;
      height: 260px; } }
  @media screen and (min-width: 1715px) {
    .card-intro .sa-caption {
      width: 100%; } }

.ribbon {
  font-size: 14px;
  display: inline-block;
  background-color: #f7a922;
  padding: 3px 10px;
  text-transform: uppercase; }
  .ribbon.right-ribbon:before {
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 28px solid #f7a922;
    border-left: 28px solid transparent;
    position: absolute;
    top: 0;
    left: -26px; }

.ie8 .card-intro .sa-caption {
  height: 270px; }

.featured .card-inner {
  background-color: #565656;
  color: white; }
  .featured .card-inner .sa-title a {
    color: white; }
  .featured .card-inner .sa-title + p {
    color: white; }
  .featured .card-inner .sa-caption {
    height: 200px; }
    .featured .card-inner .sa-caption:after {
      background-color: rgba(86, 86, 86, 0);
      background-image: -webkit-linear-gradient(rgba(86, 86, 86, 0), #565656);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 86, 86, 0)), to(#565656));
      background-image: -moz-linear-gradient(rgba(86, 86, 86, 0), #565656);
      background-image: -o-linear-gradient(rgba(86, 86, 86, 0), #565656);
      background-image: linear-gradient(rgba(86, 86, 86, 0), #565656); }
    .featured .card-inner .sa-caption .ribbon {
      position: absolute;
      top: 10px;
      right: 0;
      color: #565656; }
      @media screen and (min-width: 40em) {
        .featured .card-inner .sa-caption .ribbon {
          top: 20px; } }
    @media screen and (min-width: 40em) {
      .featured .card-inner .sa-caption {
        height: 140px; } }
    @media screen and (min-width: 53.75em) {
      .featured .card-inner .sa-caption {
        height: 170px; } }
  .featured .card-inner .sa-read-and-tags {
    color: white; }
    .featured .card-inner .sa-read-and-tags .tags.is-visible .tags-list {
      background-color: #565656;
      -webkit-box-shadow: 0 0 1px white;
      box-shadow: 0 0 1px white; }

.ie8 .featured .sa-caption {
  height: 190px; }

.ie8 .card-big .sa-caption {
  height: 190px; }
.ie8 .card-big.other-headlines .sa-caption {
  height: 500px; }

.no-cssgradients .featured .sa-caption:after {
  background-image: url("../images/ie-feat-paragraph-fade.png"); }

.sa-caption {
  position: relative;
  padding: 24px 14px 0;
  height: 210px;
  overflow: hidden; }
  .sa-caption:after {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    position: absolute;
    bottom: 0;
    left: 0; }
  @media screen and (min-width: 40em) {
    .sa-caption {
      height: 130px;
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 53.75em) {
    .sa-caption {
      height: 180px; } }
  .no-cssgradients .sa-caption:after {
    background-image: url("../images/ie-paragraph-bottom-fade.png"); }

.sa-title {
  font-family: DinLight;
  line-height: 1;
  margin-bottom: 20px;
  word-wrap: break-word; }
  @media screen and (min-width: 53.75em) {
    .card-small .sa-title {
      font-family: DinMedium;
      font-size: 18px;
      margin-bottom: 10px; }
      .card-small .sa-title + p {
        font-size: 14px; } }
  .sa-title a {
    color: #f7a922;
    text-transform: uppercase;
    font-weight: 200; }
  .sa-title + p {
    font-family: FuturaBook;
    color: #737373; }

.sa-read-and-tags {
  padding: 24px 14px;
  color: #737373; }
  @media screen and (min-width: 40em) {
    .sa-read-and-tags {
      padding: 24px; } }
  @media screen and (min-width: 53.75em) {
    .card-half .sa-read-and-tags {
      padding: 24px 10px;
      text-align: center; } }
  @media screen and (min-width: 1085px) {
    .card-half .sa-read-and-tags {
      padding: 24px;
      text-align: left; } }
  .ie8 .sa-read-and-tags {
    padding: 14px; }
  .sa-read-and-tags > span {
    font-family: DinMedium;
    font-size: 12px;
    padding: 0 6px; }
    @media screen and (min-width: 1024px) {
      .sa-read-and-tags > span {
        font-size: 14px;
        padding: 0 10px; } }
    .sa-read-and-tags > span:first-of-type {
      padding-left: 0;
      border-right: 1px solid rgba(115, 115, 115, 0.4); }
    .sa-read-and-tags > span i {
      margin-right: 5px; }
    .sa-read-and-tags > span.author {
      text-transform: uppercase; }
    .sa-read-and-tags > span.tags {
      position: relative;
      display: inline-block; }
      .sa-read-and-tags > span.tags:hover {
        cursor: pointer;
        cursor: hand; }
      .sa-read-and-tags > span.tags .icon-arrow-down {
        position: relative;
        top: 2px;
        margin-left: 5px; }

.tags-list {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .tags.is-visible .tags-list {
    height: auto;
    opacity: 1;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px #737373;
    box-shadow: 0 0 1px #737373; }
    .tags.is-visible .tags-list li:hover {
      color: #f7a922; }

.no-boxshadow .tags.is-visible .tags-list {
  border: 1px solid #D5D5D5; }

.tag {
  position: relative;
  display: inline-block;
  padding: 0 10px; }

.sa-caption.slided {
  top: -30% !important; }

.card-video {
  position: relative;
  height: 212px; }
  .card-video .sa-caption {
    height: auto;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: #737373;
    padding: 10px 14px 14px; }
    @media screen and (min-width: 53.75em) {
      .card-video .sa-caption {
        position: absolute;
        background-color: rgba(115, 115, 115, 0.7);
        -webkit-transition: top 0.6s ease-in-out;
        -moz-transition: top 0.6s ease-in-out;
        -o-transition: top 0.6s ease-in-out;
        transition: top 0.6s ease-in-out; } }
    .card-video .sa-caption:after {
      content: none; }
    .card-video .sa-caption p {
      font-family: DinBold;
      font-size: 14px;
      color: #f7a922;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .card-video .sa-caption .sa-title {
      color: white;
      font-family: DinLight;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 0; }
      @media screen and (min-width: 53.75em) {
        .card-video .sa-caption .sa-title {
          font-size: 21px; } }
  @media screen and (min-width: 40em) {
    .card-video {
      height: 360px; } }
  @media screen and (min-width: 53.75em) {
    .card-video {
      height: 500px; } }
  .card-video .sa-image-holder {
    height: 70%; }
    @media screen and (min-width: 40em) {
      .card-video .sa-image-holder {
        height: 83%; } }
    @media screen and (min-width: 53.75em) {
      .card-video .sa-image-holder {
        height: 100%; } }

.video-placeholder {
  position: relative; }

.ie8 .card-video .sa-caption {
  height: auto; }

.no-rgba .card-video .sa-caption {
  background-image: url("../images/ie-video-title-bg.png"); }

.other-headlines {
  height: 700px; }
  @media screen and (min-width: 40em) {
    .other-headlines {
      height: 500px; } }
  @media screen and (min-width: 1715px) {
    .other-headlines {
      height: 580px; } }
  .other-headlines .sa-caption {
    height: 700px;
    padding-bottom: 24px; }
    @media screen and (min-width: 40em) {
      .other-headlines .sa-caption {
        height: 500px; } }
    @media screen and (min-width: 1715px) {
      .other-headlines .sa-caption {
        height: 580px; } }
    .other-headlines .sa-caption:after {
      content: none; }
    .other-headlines .sa-caption .sa-title {
      font-size: 28px; }
      .other-headlines .sa-caption .sa-title a {
        color: #737373; }

.oh-titles {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid rgba(115, 115, 115, 0.2); }
  .no-rgba .oh-titles {
    border-bottom: 1px solid #D5D5D5; }
  .oh-titles:last-child {
    border-bottom: none; }
  .oh-titles h4 {
    color: #f7a922;
    font-family: DinMedium;
    font-size: 16px;
    width: 70%; }
    @media screen and (min-width: 40em) {
      .oh-titles h4 {
        width: 80%; } }
  .oh-titles .more {
    font-size: 13px;
    position: absolute;
    top: 36px;
    right: 0px; }
    @media screen and (min-width: 40em) {
      .oh-titles .more {
        top: 16px; } }
    @media screen and (min-width: 1620px) {
      .oh-titles .more {
        top: 6px; } }
    @media screen and (min-width: 1715px) {
      .oh-titles .more {
        top: 25px; } }
    @media screen and (min-width: 1890px) {
      .oh-titles .more {
        top: 16px; } }
    .oh-titles .more i {
      margin-left: 7px; }

.articles-list-view .card,
.articles-list-view .card.card-small,
.articles-list-view .card.card-half {
  margin-bottom: 10px;
  height: 330px;
  width: 100%;
  display: block;
  overflow: hidden; }
  .articles-list-view .card .sa-image-holder,
  .articles-list-view .card.card-small .sa-image-holder,
  .articles-list-view .card.card-half .sa-image-holder {
    height: 330px;
    width: 330px;
    float: left; }
  .articles-list-view .card .sa-caption,
  .articles-list-view .card.card-small .sa-caption,
  .articles-list-view .card.card-half .sa-caption {
    height: 250px; }
    .articles-list-view .card .sa-caption .sa-title,
    .articles-list-view .card.card-small .sa-caption .sa-title,
    .articles-list-view .card.card-half .sa-caption .sa-title {
      font-family: DinLight;
      font-size: 2.375em; }
      .articles-list-view .card .sa-caption .sa-title + p,
      .articles-list-view .card.card-small .sa-caption .sa-title + p,
      .articles-list-view .card.card-half .sa-caption .sa-title + p {
        font-size: 1em; }
  .articles-list-view .card .sa-read-and-tags,
  .articles-list-view .card.card-small .sa-read-and-tags,
  .articles-list-view .card.card-half .sa-read-and-tags {
    float: left;
    padding: 24px; }
.articles-list-view .card-intro .sa-image-holder {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 380px; }
  @media screen and (min-width: 40em) {
    .articles-list-view .card-intro .sa-image-holder {
      width: 46%; } }
  @media screen and (min-width: 1025px) {
    .articles-list-view .card-intro .sa-image-holder {
      width: 35%;
      height: 330px; } }
  @media screen and (min-width: 1600px) {
    .articles-list-view .card-intro .sa-image-holder {
      display: none; } }
.articles-list-view .card-intro .sa-caption {
  height: 250px; }
  @media screen and (min-width: 40em) {
    .articles-list-view .card-intro .sa-caption {
      width: 54%; } }
  @media screen and (min-width: 1025px) {
    .articles-list-view .card-intro .sa-caption {
      width: 60%; } }
  @media screen and (min-width: 1600px) {
    .articles-list-view .card-intro .sa-caption {
      width: 100%; } }
.articles-list-view .card-video {
  height: 500px; }
  @media screen and (min-width: 1280px) {
    .articles-list-view .card-video {
      height: 650px; } }
  .articles-list-view .card-video .sa-caption {
    height: auto; }
  .articles-list-view .card-video .sa-image-holder {
    height: 100%;
    width: 100%; }
.articles-list-view .other-headlines {
  height: 340px; }
  .articles-list-view .other-headlines .sa-caption {
    height: 100%; }
.articles-list-view .oh-titles .more {
  top: 6px; }

.shuffle-sizer {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  min-height: 30px;
  float: left; }
  @media screen and (min-width: 53.75em) {
    .shuffle-sizer {
      width: 24%;
      margin-left: 1%; } }

.article-single {
  margin-bottom: 0; }

.as-container .slick-prev,
.as-container .slick-next {
  position: fixed;
  top: 40px; }
.as-container .slick-prev {
  right: 130px; }

.as-item {
  position: relative;
  background-color: #F1F1F1; }
  .as-item section {
    position: relative; }

.article-hero:after {
  content: '';
  display: block;
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); }
.no-cssgradients .article-hero:after {
  background-image: url("../images/ie-hero-text-bg.png"); }

.ah-ribbon {
  position: relative;
  margin-bottom: 30px;
  padding: 4px 10px; }
  .ah-ribbon:before, .ah-ribbon:after {
    content: '';
    display: inline-block; }
  .ah-ribbon:before {
    height: 100%;
    width: 200%;
    position: absolute;
    top: 0;
    left: -200%;
    background-color: #f7a922; }
  .ah-ribbon:after {
    height: 0;
    width: 0;
    border-top: 30px solid #f7a922;
    border-right: 30px solid transparent;
    position: absolute;
    top: 0;
    right: -30px; }

.ah-text {
  max-width: 98%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 2; }
  .ah-text .ah-ma-title {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    color: white; }
    @media screen and (min-width: 40em) {
      .ah-text .ah-ma-title {
        right: 20px;
        bottom: 50px;
        left: 20px; } }
    .ah-text .ah-ma-title .as-title,
    .ah-text .ah-ma-title .as-subtitle {
      font-family: DinBold;
      line-height: 1;
      text-transform: uppercase;
      padding: 0 14px; }
      @media screen and (min-width: 40em) {
        .ah-text .ah-ma-title .as-title,
        .ah-text .ah-ma-title .as-subtitle {
          padding-left: 20px; } }
      @media screen and (min-width: 1025px) {
        .ah-text .ah-ma-title .as-title,
        .ah-text .ah-ma-title .as-subtitle {
          padding-left: 0; } }
    .ah-text .ah-ma-title .as-title {
      font-size: 25px;
      margin-bottom: 30px;
      word-wrap: break-word; }
      @media screen and (min-width: 40em) {
        .ah-text .ah-ma-title .as-title {
          width: 75%;
          font-size: 40px; } }
      @media screen and (min-width: 1020px) {
        .ah-text .ah-ma-title .as-title {
          font-size: 72px;
          width: 90%; } }
    .ah-text .ah-ma-title .as-subtitle {
      font-size: 18px;
      max-width: 70%; }
      @media screen and (min-width: 40em) {
        .ah-text .ah-ma-title .as-subtitle {
          max-width: 55%;
          font-size: 20px; } }
      @media screen and (min-width: 53.75em) {
        .ah-text .ah-ma-title .as-subtitle {
          font-size: 26px; } }
  .ah-text .as-read-time {
    text-align: center;
    font-family: DinMedium;
    font-size: 26px;
    line-height: 0.9;
    color: white;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: url("../images/icon-ribbon.png") no-repeat;
    padding: 11px 11px 35px; }
    @media screen and (min-width: 40em) {
      .ah-text .as-read-time {
        bottom: 50px; } }
    .ah-text .as-read-time .time {
      display: block;
      font-size: 14px; }

.as-article {
  font-family: FuturaBook;
  font-size: 18px; }
  .as-article p {
    margin-bottom: 1.5em; }
    .as-article p q {
      font-family: FuturaHeavyOblique; }
  .as-article ol,
  .as-article ul {
    list-style-position: inside;
    margin-bottom: 1.5em; }
  .as-article ol {
    list-style-type: decimal; }
  .as-article ul {
    list-style-type: disc; }
  .as-article a {
    color: #f7a922; }
    .as-article a:hover {
      text-decoration: underline; }

.parallax {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  @media screen and (min-width: 1025px) {
    .parallax {
      background-attachment: fixed; } }
  .parallax .parallax-title {
    font-family: DinMedium;
    padding: 24px 24px 50px;
    color: white;
    background-color: transparent;
    background-image: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.5));
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: -moz-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.5));
    background-image: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(to top,transparent, rgba(0, 0, 0, 0.5)); }
    .parallax .parallax-title .as-text {
      padding: 0; }
  .no-cssgradients .parallax .parallax-title {
    background-image: url("../images/ie-parallax-title-bg.png");
    background-repeat: repeat-x; }

.parallax-full-text:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.8));
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(right, transparent, rgba(0, 0, 0, 0.8));
  background-image: -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to left,transparent, rgba(0, 0, 0, 0.8)); }
.parallax-full-text .as-article {
  position: relative;
  z-index: 2; }
  .parallax-full-text .as-article p {
    color: white; }
    .parallax-full-text .as-article p:last-of-type {
      margin-bottom: 0; }
.no-cssgradients .parallax-full-text:after {
  background-image: url("../images/parallax-text-bg.png");
  background-repeat: repeat-y; }
.touch .parallax-full-text {
  height: auto !important; }

.sticker {
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .sticker {
      position: absolute;
      right: 35px; } }

.as-slider-cards {
  height: 0;
  overflow: hidden; }
  @media screen and (min-width: 53.75em) {
    .as-slider-cards {
      height: auto;
      background-color: #E3E3E3;
      padding: 40px 15px; }
      .as-slider-cards h5 {
        font-size: 21px;
        text-transform: uppercase;
        margin-bottom: 40px;
        padding-left: 5px; } }

.as-slider-card {
  margin: 0 5px;
  background-color: #fff; }
  .as-slider-card .as-image-holder {
    height: 200px;
    overflow: hidden; }
    .as-slider-card .as-image-holder img {
      max-width: none;
      height: 100%; }
  .as-slider-card .as-read-and-tags {
    font-family: DinMedium;
    font-size: 14px;
    padding: 14px; }
    .as-slider-card .as-read-and-tags .icon-ribbon-small {
      margin-right: 6px; }

.as-slider-nav .slick-prev,
.as-slider-nav .slick-next {
  top: -67px;
  z-index: 49; }
.as-slider-nav .slick-prev {
  right: 60px; }
.as-slider-nav .slick-next {
  right: 0; }

.as-caption {
  position: relative;
  padding: 20px 15px 0;
  max-height: 180px;
  overflow: hidden; }
  .as-caption .as-title {
    font-family: DinLight;
    font-size: 26px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px;
    word-wrap: break-word; }
    .as-caption .as-title + p {
      font-family: DinLight; }
  .as-caption:after {
    content: '';
    display: block;
    height: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    position: absolute;
    bottom: 0;
    left: 0; }

.as-text {
  max-width: 98%;
  margin: 0 auto;
  padding: 14px; }
  @media screen and (min-width: 40em) {
    .as-text {
      padding: 50px 20px; } }
  @media screen and (min-width: 53.75em) {
    .as-text {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (min-width: 53.75em) {
    .as-text .as-article {
      float: left;
      width: 60%; } }
  .as-text .as-side blockquote {
    font-size: 22px; }
    @media screen and (min-width: 40em) {
      .as-text .as-side blockquote {
        font-size: 36px; } }
  @media screen and (min-width: 53.75em) {
    .as-text .as-side {
      float: left;
      width: 31%;
      margin-left: 9%; } }

.as-intro {
  font-family: FuturaMedium;
  font-size: 20px; }
  @media screen and (min-width: 40em) {
    .as-intro {
      font-size: 24px; } }

.as-title a {
  font-weight: 200;
  color: #f7a922; }

.article-media-holder {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  height: 360px; }
  .article-media-holder .sa-image-holder {
    height: 100%; }
    .article-media-holder .sa-image-holder img {
      max-width: none; }
  .article-media-holder .sa-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 14px; }
    .article-media-holder .sa-caption:after {
      content: none; }
    .article-media-holder .sa-caption p {
      font-family: DinBold;
      font-size: 14px;
      color: #f7a922;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .article-media-holder .sa-caption .sa-title {
      font-family: DinLight;
      font-size: 21px;
      color: white;
      text-transform: uppercase; }

.no-rgba .article-media-holder .sa-caption {
  background-image: url("../images/ie-video-title-bg.png"); }

.as-incentive {
  margin: 50px 0;
  padding: 28px 25px;
  color: white; }
  .as-incentive .asi-title,
  .as-incentive .asi-subtitle {
    font-size: 24px; }
  .as-incentive .asi-title {
    font-family: FuturaHeavy; }
  .as-incentive .asi-sutitle,
  .as-incentive .asi-content-title,
  .as-incentive .asi-content {
    font-family: FuturaLight; }
  .as-incentive .asi-content-title {
    text-transform: uppercase; }
  .as-incentive .asi-image-holder {
    margin-top: 20px; }
  .as-incentive .asi-caption {
    font-family: FuturaBook;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 0; }

.inner-footer {
  border-left: 10px solid white;
  border-right: 10px solid white; }
  @media screen and (min-width: 53.75em) {
    .inner-footer {
      margin-left: 75px;
      margin-bottom: 10px;
      border-left: 0; } }

.upper-footer,
.lower-footer {
  color: white;
  position: relative;
  min-height: 0;
  padding: 14px; }
  @media screen and (min-width: 40em) {
    .upper-footer,
    .lower-footer {
      padding: 30px; } }
  .upper-footer p,
  .lower-footer p {
    font-size: 14px; }
    .upper-footer p.footer-incentive,
    .lower-footer p.footer-incentive {
      font-family: DinLight;
      font-size: 28px;
      text-transform: uppercase; }
    .upper-footer p.footer-title,
    .lower-footer p.footer-title {
      font-family: DinMedium;
      font-size: 16px;
      text-transform: uppercase; }

.upper-footer {
  background-color: #565656; }
  .upper-footer .third-col {
    width: 100%; }
    @media screen and (min-width: 40em) {
      .upper-footer .third-col {
        width: 44.4%; } }

.lower-footer {
  background-color: #737373; }

@media screen and (min-width: 53.75em) {
  .quarter-col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .quarter-col:last-child {
      margin-right: 0; } }

@media screen and (min-width: 53.75em) {
  .third-col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .third-col:last-child {
      margin-right: 0; } }

.production li {
  margin-bottom: 10px;
  font-size: 14px; }

.footer-logo {
  display: none; }
  @media screen and (min-width: 53.75em) {
    .footer-logo {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0; }
      .footer-logo img {
        display: block;
        position: relative;
        top: 1px; } }

@font-face {
  font-family: Icons;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#Icons") format("svg"); }
[class^="icon-"],
[class*=" icon-"] {
  font-family: Icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-tags:before {
  content: "\e60b"; }

.icon-ribbon-small:before {
  content: "\e60c"; }

.icon-back:before {
  content: "\e600"; }

.icon-scroll:before {
  content: "\e602"; }

.icon-download:before {
  content: "\e603"; }

.main-header .icon-grid:before {
  content: "\e605"; }

.icon-globe:before {
  content: "\e606"; }

.icon-bookmark:before {
  content: "\e607"; }

.main-header .icon-list:before {
  content: "\e608"; }

.main-header .icon-tiles:before {
  content: "\e609"; }

.icon-home:before {
  content: "\e60a"; }

.icon-arrow-prev:before {
  content: "\f104"; }

.icon-arrow-next:before, .icon-angle-right:before {
  content: "\f105"; }

.icon-arrow-down:before {
  content: "\f0d7"; }

.icon-share:before {
  content: '\f1e0'; }

.icon-facebook:before {
  content: "\e60d"; }

.icon-twitter:before {
  content: "\e60e"; }

.icon-pinterest:before {
  content: '\e615'; }

.icon-play:before {
  content: "\e617"; }

.dropdown {
  text-align: center; }

.dropdown-container {
  display: inline-block;
  position: relative; }

.dropdown-button {
  border: 1px solid #f7a922;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 0;
  font-family: DinMedium;
  font-size: 13px;
  color: #f7a922;
  text-transform: uppercase;
  padding: 2px 2.3em 3px 1em;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .dropdown-button {
      border-color: rgba(255, 255, 255, 0.5);
      color: white; } }
  .ie8 .dropdown-button {
    width: 176px;
    height: 30px;
    padding-top: 4px;
    background-image: url("../images/ie-dd-bg.png");
    background-repeat: no-repeat; }
  .no-borderradius .dropdown-button {
    border: none; }
  .dropdown-button:after {
    color: #f7a922;
    font-family: Icons;
    content: "\f0d7";
    display: block;
    position: absolute;
    right: 1em;
    top: 3px; }
    @media screen and (min-width: 53.75em) {
      .dropdown-button:after {
        color: white; } }
    .ie8 .dropdown-button:after {
      right: 16px;
      top: 5px; }
  .dropdown-button:hover {
    color: #f7a922;
    border-color: #f7a922; }
    .dropdown-button:hover:after {
      color: #f7a922; }

.categories {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f7a922;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #737373;
  cursor: pointer;
  display: none;
  overflow: show;
  position: absolute;
  right: 0;
  top: 30px;
  width: 175px;
  z-index: 99999;
  text-align: left; }

.categories li {
  border-bottom: 1px solid silver;
  color: #737373;
  padding: 0.5em; }

.categories li:hover {
  background: #f7f7f7; }

.categories li:first-child {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

.categories li:last-child {
  border: none;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.show-categories {
  display: block; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000000; }

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px 15px 10px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 100px auto; }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

  .modal-sm {
    width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide > img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 29px;
  width: 29px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 30px;
  z-index: 999;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: Icons;
  font-size: 30px;
  line-height: 1;
  color: #f7a922;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  right: 40px; }
  .slick-prev:before {
    content: ""; }

.slick-next {
  right: 20px; }
  .slick-next:before {
    content: ""; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }
