﻿@using EPiServer.Web.Mvc.Html
@using Ineos.Business.Rendering

@model Ineos.Models.Blocks.InchMagazine.ArticleSectionContentTextBlock

<section class="as-text">
    <article class="as-article">
        
        @if (!string.IsNullOrEmpty(Model.ArticleHeading))
        {
            <h1>@Html.PropertyFor(x => Model.ArticleHeading)</h1>
            <br/>
        }

        <p class="as-intro">@Html.PropertyFor(x => Model.Introduction)</p>

        @Html.PropertyFor(x => Model.RichText)
        
        @Html.PropertyFor(x => Model.ArticleContentArea, new { Tag = TemplateCoordinator.Tags.NoWrappersContentArea })
    </article>
    
    <aside class="as-side sticker">
        @Html.PropertyFor(x => Model.ContentArea, new { Tag = TemplateCoordinator.Tags.NoWrappersContentArea })
    </aside>

</section>