﻿@using EPiServer.Web.Mvc.Html

@model Ineos.Models.Blocks.InchMagazine.BeforeAfterBlock

<section style="background-image: url(@Url.ContentUrl(Model.BeforeImage))" class="parallax parallax-1">
    <div class="parallax-title">
        <div class="as-text">
            <p>@Html.PropertyFor(x => Model.BeforeText)</p>
        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(Url.ContentUrl(Model.AfterImage)))
{
    <section style="background-image: url(@Url.ContentUrl(Model.AfterImage))" class="parallax parallax-2">
        <div class="parallax-title">
            <div class="as-text">
                <p>@Html.PropertyFor(x => Model.AfterText)</p>
            </div>
        </div>
    </section>
}