﻿@using EPiServer.Web.Mvc.Html

@model Ineos.Models.Blocks.InchMagazine.BusinessBlock

    <div class="as-incentive" style="background-color: #@Model.BusinessBlockBackgroundColour">
        <h2 class="asi-title">@Html.PropertyFor(x => Model.BusinessBlockHeading)</h2>
        <h3 class="asi-subtitle">@Html.PropertyFor(x => Model.BusinessBlockSubHeading)</h3>
        <p class="asi-content-title">@Html.PropertyFor(x => Model.BusinessBlockTitle)</p>
        <p class="asi-content">@Html.PropertyFor(x => Model.BusinessBlockText)</p>
        <div class="asi-image-holder center"><img src="@Url.ContentUrl(Model.BusinessBlockImage)" alt=""></div>
        <p class="asi-caption center">@Html.PropertyFor(x => Model.Name)</p>
    </div>