﻿@using EPiServer.Web.Mvc.Html

@model Ineos.Models.Blocks.InchMagazine.QuoteBlock

    <blockquote>
        <span class="bq-header">@Html.PropertyFor(x => Model.QuoteHeading)</span>
        <p>@Html.PropertyFor(x => Model.QuoteString)</p>
        <span class="bq-footer">@Html.PropertyFor(x => Model.QuoteFooter)</span>
    </blockquote>
