﻿@using Ineos.Models.Blocks

@model VideoBlock

<div class="article-media-holder">
    @*<div class="sa-image-holder">
        <div class="sa-video-holder">
            <iframe width="100%" height="100%" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
        </div>
        <img src="@Url.ContentUrl(Model.VideoWatermarkImage)" alt="" class="video-placeholder"/>
        <a href="" class="play-button js-play">
            <i class="icon-play"></i>
        </a>
    </div>*@
    
    <div class="sa-image-holder">
        <div class="sa-video-holder"></div>
        <img src="@Url.ContentUrl(Model.VideoWatermarkImage)" alt="" class="video-placeholder">
        <a href="@Model.VideoUrl" data-width="640" data-height="360" class="play-button js-play">
            <i class="icon-play"></i>
        </a>
    </div>

    <div class="sa-caption">
        <p>Video</p>
        <h1 class="sa-title">@Html.PropertyFor(x => Model.VideoBlockText)</h1>
    </div>
</div>