﻿@using EPiServer.Web.Mvc.Html
@using Ineos
@using Ineos.Helpers
@using Ineos.Models.Pages.InchMagazine

@model Ineos.Models.ViewModels.InchMagazine.ArticlesModel

@{
    Layout = "~/Views/Shared/Layouts/_WithFooter.cshtml";
    var categories = MagazineHelper.GetArticleCategories();
    var issue = (IssuePage) Model.CurrentPage;
    var articles = Model.Articles;
}

<header class="main-header mh-articles">
    <div class="left">
        <span class="switch-view-controls borderless">
            <a href="" class="js-articles-view active">
                <i class="icon-grid"></i>
            </a>
            <a href="" class="js-articles-view">
                <i class="icon-list"></i>
            </a>
            <a href="@Url.ContentUrl(issue.IssueUploadPdf)" class="download-issue">
                <i class="icon-download"></i>
            </a>
        </span>
        <span class="filter">
            <div class="dropdown">
                <div class="dropdown-container">
                    <p class="dropdown-button">@Html.Translate("/Articles/FilterByCategory")</p>
                    <ul class="categories">
                        @foreach (var cat in categories)
                        {
                            <li data-group="@cat.Value" class="categ">@cat.Value</li>
                        }
                    </ul>
                </div>
            </div>
        </span>
    </div>
    <div class="logo right"><img src="~/Static/images/logo-footer-ineos.png" alt=""></div>
</header>

<section class="main articles-main">
    <div class="main-issue" style="background-image: url(@Url.ContentUrl(Model.CurrentPage.PageImage))">
        <div class="main-issue-captions">
            <h1 class="main-issue-title">@Html.PropertyFor(x => issue.IssueTitle)</h1>
            <h4 class="main-issue-subtitle">@Html.PropertyFor(x => issue.IssueSubtitle)</h4>
            <div class="other-articles-container">
                <p class="also">@Html.Translate("/Articles/Also")</p>
                <ul class="other-articles">

                    @if (Model.InTheIssueArticles != null)
                    {
                        foreach (var article in Model.InTheIssueArticles)
                        {
                            <li>
                                <h4 class="oa-title">@article.HeaderText</h4>
                                <h6 class="oa-subtitle">@article.HeaderDescription</h6>
                            </li>
                        }
                    }

                </ul>
                </div>
            </div>
        <div class="icon-scroll articles-scroll">
            <p>@Html.Translate("/Articles/ScrollDown")</p>
        </div>
        <span class="issue-date">@Html.PropertyFor(x => issue.IssueDate)</span>
    </div>
    <div class="secondary-articles">
        <ul class="grid">
                
            @if (articles != null && articles.Count > 0)
            {
                foreach (var article in articles)
                {
                    if (article != null)
                    {
                        <li data-groups="@article.Category" class="@MagazineHelper.GenerateArticleTileCssClass(article)">
                            <div class="card-inner">
                                <div class="sa-image-holder"><img src="@Url.ContentUrl(article.HeaderImage)" alt=""><a href="" class="sa-image-link"></a></div>
                                <div class="sa-caption">
                                    @if (article.IsFeatured)
                                    {
                                        <span class="ribbon right-ribbon">@Html.Translate("/Articles/Featured")</span>
                                    }

                                    <h1 class="sa-title"><a href="@Url.ContentUrl(article.PageReference)">@article.Title</a></h1>
                                    <p>@article.ArticleContentText</p>
                                </div>
                                <div class="sa-read-and-tags">
                                    <span class="reading-time"><i class="icon-ribbon-small"></i>@article.ReadTime @Html.Translate("/Articles/MinuteRead")</span>
                                    <span class="tags">
                                        <i class="icon-tags"></i>@Html.Translate("/Articles/Tag")<i class="icon-arrow-down"></i>
                                        <ul class="tags-list">
                                            @{
                                                if (article.Tags != null)
                                                {
                                                    for (int i = 0; i < article.Tags.Count(); i++)
                                                    {
                                                        var tag = article.Tags[i];
                                                        <li data-group="categ1" class="tag categ tag-@(i + 1)">@tag</li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </li>

                        if (article.Videos != null && article.Videos.Count > 0)
                        {
                            foreach (var videoModel in article.Videos)
                            {
                                <li data-groups="@article.Category" class="card card-medium card-video">

                                    <div class="card-inner">
                                        <div class="sa-image-holder">
                                            <div class="sa-video-holder"></div>
                                                <img src="@Url.ContentUrl(videoModel.VideoImageUrl)" alt="" class="video-placeholder">
                                                <a href="@videoModel.VideoUrl" data-width="640" data-height="360" class="play-button js-play">
                                                    <i class="icon-play"></i>
                                                </a>
                                            
                                        </div>
                                        <div class="sa-caption">
                                            <p>Video</p>
                                            <h1 class="sa-title">@videoModel.VideoDescription</h1>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    }
                }
            }
                
            <li data-groups="[&quot;@Global.Constants.ArticleCategoryAll&quot;]" class="card card-big other-headlines">
                <div class="card-inner">
                    <div class="sa-caption">

                        <h1 class="sa-title">@Html.Translate("/Articles/InTheHeadlines")</h1>
                        
                        @if (Model.InTheHeadline != null)
                        {
                            foreach (var relatedArticle in Model.InTheHeadline)
                            {
                                <div class="oh-titles">
                                    <h4>@relatedArticle.HeaderText</h4>
                                    <a href="@Url.ContentUrl(relatedArticle.PageReference)" class="more button">
                                        View
                                        <i class="icon-angle-right"></i>
                                    </a>
                                </div>
                            }
                        }

                    </div>
                </div>
            </li>
            <li class="shuffle-sizer"></li>
        </ul>

        <div id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

    </div>
</section>