﻿@model Ineos.Models.ViewModels.PreviewModel

@{ Layout = null;}

<head>
    <!-- Favicons links -->
    <link rel="shortcut icon" type="image/x-icon" href="~/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/static/images/apple-touch-icon-precomposed.png">

    <!-- Stylesheet links-->
    <link rel="stylesheet" href="~/Static/css/style.css">

    <!--[if lte IE 8]><link rel="stylesheet" href="~/Static/css/old-ie.css"><![endif]-->
    <script src="~/Static/js/modernizr.js"></script>

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Static/js/respond.min.js"></script>
</head>

<body>
    <div style="width: 100%">
        @Html.DisplayFor(m => m.PreviewBlock.ContentArea)
    </div>
    
    <!--[if lte IE 9]>

        <script src="~/Static/js/rAFIEPolyfill.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="~/Static/js/all.min.js" type="text/javascript"></script><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
    </script>
</body>