﻿@*@using Ineos.Helpers
@{
    Layout = "~/Views/Shared/Layouts/_WithFooter.cshtml";
    string issueUrl = Url.ContentUrl(MagazineHelper.IssuePageLink());
    string articleUrl = Url.ContentUrl(MagazineHelper.ArticlePageLink());
}

<header class="main-header">
    
    <div class="left">
        <h1 class="magazine-title">
            Inch <span>Magazine</span>
        </h1>
        <span class="switch-view-controls">
                 <a class="js-articles-view active">
                     <i class="icon-tiles"></i>
                 </a>
                 <a class="js-articles-view">
                     <i class="icon-list"></i>
                 </a>
        </span>
        <span class="switch-browse-by">
            <span class="sbb-title">@Html.Translate("/Articles/BrowseBy")</span>
            <span class="bb-switch">
                <a href="@issueUrl" class="js-browse-by">@Html.Translate("/Articles/Issue")</a>
                <a href="@articleUrl" class="js-browse-by active">@Html.Translate("/Articles/Article")</a>
            </span>
        </span>
    </div>

    <div class="logo right"><img src="~/static/images/ineos-logo-hp.png" alt=""></div>
</header>

@RenderBody()*@
