﻿@using Ineos.Helpers
@using Ineos.Models.ViewModels
@using Ineos.Models.Pages

@model IPageViewModel<SitePageData>

@{
    Layout = "~/Views/Shared/Layouts/_MasterRoot.cshtml";
}

<head>

    <title>@Model.CurrentPage.MetaTitle</title>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

</head>

<body>

</body>