﻿@*@using Ineos.Helpers
@{
    Layout = "~/Views/Shared/Layouts/_WithFooter.cshtml";
    var categories = MagazineHelper.GetArticleCategories();
}

<header class="main-header mh-articles">
    <div class="left">
        <span class="switch-view-controls borderless">
            <a href="" class="js-articles-view active">
                <i class="icon-grid"></i>
            </a>
            <a href="" class="js-articles-view">
                <i class="icon-list"></i>
            </a>
            <a href="" class="js-articles-view download-issue">
                <i class="icon-download"></i>
            </a>
        </span>
        <span class="filter">
            <div class="dropdown">
                <div class="dropdown-container">
                    <p class="dropdown-button">@Html.Translate("/Articles/FilterByCategory")</p>
                    <ul class="categories">
                        @foreach (var cat in categories)
                        {
                            <li data-group="@cat.Value" class="categ">@cat.Value</li>
                        }
                    </ul>
                </div>
            </div>
        </span>
    </div>
    <div class="logo right"><img src="~/Static/images/logo-footer-ineos.png" alt=""></div>
</header>

@RenderBody()*@