﻿@using Ineos.Helpers
@using Ineos.Models.ViewModels
@using Ineos.Models.Pages

@model IPageViewModel<SitePageData>

@{
    Layout = "~/Views/Shared/Layouts/_MasterRoot.cshtml";
    Dictionary<string, string> languages = MagazineHelper.GetEnabledLanguages();
}

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description" />
    <meta name="author" content="Author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <!-- Facebook Opengraph -->
    <meta property="og:title" content="INCH Magazine" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#" />
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Online news magazine" />
    <meta property="og:latitude" content="47.00000" />
    <meta property="og:longitude" content="7.00000" />
    <meta property="og:street-address" content="Address" />
    <meta property="og:phone_number" content="Phone Number" />
    <meta property="og:locality" content="Southampton" />
    <meta property="og:region" content="Hampshire" />
    <meta property="og:postal-code" content="SO14 5QF" />
    <meta property="og:country-name" content="United Kingdom" />
    
    <!-- Twitter Card meta elements -->
    <meta name="twitter:card" content="summary">
    @*<meta name="twitter:site" content="@username">
    <meta name="twitter:creator" content="@username">*@
    <meta name="twitter:url" content="#">
    <meta name="twitter:title" content="INCH Magazine">
    <meta name="twitter:description" content="Online news magazine">
    <meta name="twitter:image" content="#">
    
    <!-- Favicons links -->
    <link rel="shortcut icon" type="image/x-icon" href="~/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/static/images/apple-touch-icon-precomposed.png">

    <!-- Stylesheet links-->
    <link rel="stylesheet" href="~/Static/css/style.css">
    
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Static/css/old-ie.css"><![endif]-->
    <script src="~/Static/js/modernizr.js"></script>
    
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/Static/js/respond.min.js"></script>

    <title>@Model.CurrentPage.MetaTitle</title>
    @Html.RenderEPiServerQuickNavigator()
</head>
    <body>
        <div class="top-border"></div><a href="~/" class="home"><i class="icon-home"></i></a>
        <aside class="sidebar">
            <div class="inch-logo"><img src="~/static/images/logo-inch.png" alt=""></div>
            <div class="bottom-actions"><a href="" class="share"><i class="icon-share"></i></a>
            <a href="#" class="global"><i class="icon-globe"></i></a></div>
            <ul class="social">
                <li class="share-facebook"><a href="http://www.facebook.com/share.php" class="js-facebook"><i class="icon-facebook"></i></a></li>
                <li class="share-twitter"><a href="http://twitter.com/share" class="js-twitter"><i class="icon-twitter"></i></a></li>
                <li class="share-pinterest"><a href="http://www.pinterest.com/pin/create/button/" count-layout="none" class="js-pinterest"><i class="icon-pinterest"></i></a></li>
            </ul>
            <ul class="langs">

                @if (languages != null)
                {
                    foreach (var s in languages)
                    {
                        string newUrl = MagazineHelper.ResolvePageLanguageUrl(Url.ContentUrl(Model.CurrentPage.ContentLink).Remove(0, 1), s.Key, Model.CurrentPage.ContentLink);

                        <li id="@s.Value">
                            <a href="~/@(newUrl)">@s.Value</a>
                        </li>
                    }
                }
                
            </ul>
        </aside>

        <div>
            @RenderBody()
        </div>
        
        <div class="notify" style="display: none;">
            <p>Accept!!!!!</p>
            <div class="notify-close">
                <a class="notify-button">
                    Accept
                </a>
            </div>
        </div>

        <!--[if lte IE 9]>
            <script src="~/Static/js/rAFIEPolyfill.js"></script>
        <![endif]-->

        <!--[if gte IE 9]><!-->
        @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>*@
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!--<![endif]-->

        <script src="~/Static/js/all.min.js" type="text/javascript"></script><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>