﻿@using Ineos.Helpers
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
    var contactModel = MagazineHelper.GetFooterContactDetails();
}

@RenderBody()

<footer class="inner-footer">
    <div class="upper-footer">
        <div class="quarter-col">
            <p class="footer-incentive">@contactModel.FooterHeading</p>
        </div>
        <div class="third-col">
            @contactModel.SpreadTheWordTextContent
        </div>
    </div>
    <div class="lower-footer">
        <div class="quarter-col"><img src="@Url.ContentUrl(contactModel.LogoLink)" alt=""></div>
        <div class="quarter-col">
            <p class="footer-title">Production</p>
            <ul class="production">
                <li>Editor: @contactModel.EditorName</li>
                <li>Publisher: @contactModel.Publisher</li>
                <li>Editorial address: @contactModel.EditorialAddress</li>
                <li>Email: @contactModel.Email</li>
                <li>Photography: @contactModel.Photography&copy;</li>
            </ul>
        </div>
        <div class="quarter-col">
            @contactModel.CopyrightText
        </div>
        <div class="footer-logo"><img src="@Url.ContentUrl(contactModel.SecondaryLogo)" alt=""></div>
    </div>
</footer>